</div>
</body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <i class="bi bi-people" style="font-size: 3rem; color: rgb(237, 104, 47); margin:0mm 0mm 0mm 130mm"></i>
        <a class="navbar-brand"><h4 style="color: rgb(237, 104, 47)" text-align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MALAVÉ PROJECTS</h4> <h6 style="color: rgb(69, 68, 68)" text-align="center">&nbsp;&nbsp;&nbsp;&nbsp;Desarollado por José Vicente Malavé</h6> <h6 style="color: rgb(69, 68, 68)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Programación 1 | Seccion B</h6></a>
    </nav>
</div>
</html>