
{% include 'header.html' %}

<br><br>
{% for empleado in empleados %}

<form method="post" action="/update" enctype="multipart/form-data">

     <div class="card">
        <div class="card-header">
            <i class="bi bi-person-gear" style="font-size: 3rem; color: rgb(237, 104, 47)"></i> 
            <label><h3>&nbsp;&nbsp;Edición de datos de empleados</h3></label>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del empleado</h5>
            
            <p class="card-text">

                <div class="form-group">
                    <i class="bi bi-person-gear" style="font-size: 1.5rem; color: rgb(237, 104, 47);"></i>
                    <label for="txtNombre"><h6>Nombre</h6></label> 
                    <input id="txtNombre" value="{{empleado[1]}}" class="form-control" type="text" name="txtNombre">
                </div>

                <div class="form-group">
                    <i class="bi bi-person-gear" style="font-size: 1.5rem; color: rgb(237, 104, 47);"></i>
                    <label for="txtApellido"><h6>Apellido</h6></label>
                    <input id="txtApellido" value="{{empleado[2]}}" class="form-control" type="text" name="txtApellido">
                </div>

                <div class="form-group">
                    <i class="bi bi-envelope-at-fill" style="font-size: 1.5rem; color: rgb(237, 104, 47);"></i>
                    <label for="txtCorreo"><h6>Correo</h6></label>
                    <input id="txtCorreo" value="{{empleado[3]}}" class="form-control" type="text" name="txtCorreo">
                </div>

                <div class="form-group">
                    <i class="bi bi-person-bounding-box" style="font-size: 1.5rem; color: rgb(237, 104, 47);"></i>
                    <label for="txtFoto"><h6>Foto</h6></label>
                    <img class="img-thumbnail" width="100" src="{{ url_for('uploads',nombreFoto=empleado[4])}}" alt="">
                    <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                </div>

                <div class="form-group">
                    <i class="bi bi-calendar2-check-fill" style="font-size: 1.5rem; color: rgb(237, 104, 47);"></i>
                    <label for="txtFecha"><h6>Fecha de Nacimiento</h6></label>
                    <input id="txtFecha" value="{{empleado[5]}}" class="form-control" type="text" name="txtFecha">
                </div>

                <input type="hidden" value="{{empleado[0]}}" name="txtId" id="txtId">
                <br/>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Modificar">
                    <a href="{{ url_for('index')}}"class="btn btn-primary">Regresar </a>
                </div>
                 
            </p>
        </div>
     </div>

</form>
{% endfor %}
<br>
{% include 'footer.html' %}
