
    {% include 'header.html' %}
    <br/>
    <a href="{{url_for('create')}}" class="btn btn-success">
        Ingresar nuevo empleado  
    </a>
    <br>
    <br>

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Fecha Nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in  empleados %}
            <tr>
                <td>{{empleado[0]}}</td>

                <td>
                    <img class="img-thumbnail" width="100" src="{{ url_for('uploads',nombreFoto=empleado[4])}}" alt="">
                    
                </td>

                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td>{{empleado[3]}}</td>
                <td>{{empleado[5]}}</td>
                <td><a class="btn btn-warning" href="/edit/{{empleado[0]}}">Editar</a> |
                    <a onclick="return confirm('¿Deseas borrar al empleado?')" class="btn btn-danger" href="/destroy/{{empleado[0]}}">Eliminar</a> 
                </td>
            </tr>  
            {% endfor %}
    
        </tbody>
    </table>
<br>    
{% include 'footer.html' %}


